<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li class="active"></li>
    <li class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img class="slide-imgae" src="http://placehold.it/800x300">
    </div>
    <div class="item">
      <img class="slide-imgae" src="http://placehold.it/800x300">
    </div>
    <div class="item">
      <img class="slide-imgae" src="http://placehold.it/800x300">
    </div>
  </div>
  <!--<a class="left carousel-captrol" role="button" href="javascript:$('.carousel').carousel('prev')">-->
    <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
  <!--</a>-->
  <!--<a class="right carousel-captrol" role="button" href="javascript:$('.carousel').carousel('next')">-->
    <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
  <!--</a>-->


  <a class="left carousel-control" href="javascript:$('.carousel').carousel('next')" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
